# Lesson 3 Class Exercises: Pandas Part 1

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [1]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [3]:
iris = pd.read_csv('../data/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions.

In [76]:
# Can import from a URL
legislators = pd.read_csv('https://theunitedstates.io/congress-legislators/legislators-current.csv')
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [7]:
# Don't need () because columns is a "member variable" (a variable that is part of the data frame object) not a function, only functions need ()
legislators.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the datatypes of all of the columns in the legislator data. To do this, use the `.dtypes` member variable. Do all of the data types seem appropriate for the data?

In [8]:
legislators.dtypes
# objects are strings

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
facebook               object
youtube                object
youtube_id             object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

Show all of the datayptes in the iris dataframe

In [9]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [16]:
legislators.isna()

# Find NAs per column (google pandas.DataFrame documentation)
# The sum function works because False = 1 and True = 0 (check this?)
legislators.isna().sum()

last_name               0
first_name              0
middle_name           290
suffix                520
nickname              497
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          438
party                   0
url                     0
address                 0
phone                   0
contact_form          438
rss_url               280
twitter                10
facebook              162
youtube               269
youtube_id            193
bioguide_id             0
thomas_id             206
opensecrets_id         63
lis_id                438
fec_ids                 1
cspan_id              153
govtrack_id             0
votesmart_id           58
ballotpedia_id         45
washington_post_id    538
icpsr_id               73
wikipedia_id            1
dtype: int64

How about in the iris dataframe?

In [18]:
iris.isna()
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [21]:
legislators.duplicated().sum()

0

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [22]:
iris.duplicated().sum()

3

In [25]:
iris[iris.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

If there are duplicated rows should we remove them or keep them?

Keep them. You can have flowers that are the same size.

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have three species in our iris data, we should check that we see three species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `.nunique` function.  Try it for both the legislators and the iris data set.

In [26]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

In [29]:
legislators.shape

(538, 34)

In [27]:
legislators.nunique()

last_name             491
first_name            323
middle_name            88
suffix                  5
nickname               32
full_name             538
birthday              530
gender                  2
type                    2
state                  56
district               54
senate_class            3
party                   3
url                   538
address               538
phone                 538
contact_form          100
rss_url               257
twitter               528
facebook              376
youtube               269
youtube_id            345
bioguide_id           538
thomas_id             332
opensecrets_id        475
lis_id                100
fec_ids               537
cspan_id              385
govtrack_id           538
votesmart_id          480
ballotpedia_id        493
washington_post_id      0
icpsr_id              465
wikipedia_id          537
dtype: int64

In [32]:
# Pull out unique states
legislators['state'].unique()

array(['OH', 'WA', 'MD', 'DE', 'PA', 'CA', 'MN', 'NJ', 'VT', 'MI', 'MT',
       'RI', 'WY', 'MS', 'ME', 'TX', 'IL', 'SC', 'OK', 'KY', 'OR', 'ID',
       'NH', 'VA', 'NY', 'WV', 'AL', 'WI', 'CO', 'FL', 'GA', 'TN', 'CT',
       'MO', 'AR', 'IN', 'NC', 'LA', 'NE', 'AZ', 'IA', 'NM', 'HI', 'ND',
       'MA', 'UT', 'KS', 'AK', 'DC', 'MP', 'SD', 'NV', 'VI', 'AS', 'PR',
       'GU'], dtype=object)

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

In [34]:
# Subsetting to a column produces a series not a dataframe
legislators['gender'].unique()

array(['M', 'F'], dtype=object)

In [35]:
iris['sepal_length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [36]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [37]:
# This is pointless for the legislators data
legislators.describe()

,district,senate_class,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,438.000000,100.000000,332.000000,3.850000e+02,538.000000,480.000000,0.0,465.000000
mean,10.059361,2.010000,1747.445783,5.419848e+05,411688.949814,75474.483333,NaN,24256.202151
std,10.674341,0.822598,548.300825,1.484390e+06,26857.026308,62230.266744,NaN,7501.216031
min,0.000000,1.000000,91.000000,2.600000e+02,300018.000000,119.000000,NaN,14066.000000
25%,3.000000,1.000000,1626.750000,4.555200e+04,412196.750000,22487.750000,NaN,21106.000000
50%,6.000000,2.000000,1918.500000,7.971000e+04,412565.500000,52964.000000,NaN,21564.000000
75%,13.000000,3.000000,2124.500000,1.003551e+06,412765.500000,133023.500000,NaN,21972.000000
max,53.000000,3.000000,2296.000000,9.275683e+06,456858.000000,188334.000000,NaN,94659.000000

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [44]:
legislators.index
legislators.head()
legislators.index = legislators['last_name']
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
last_name,,,,,,,,,,,,,,,,,,,,,
Brown,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Cantwell,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Cardin,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Carper,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Casey,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [46]:
# .loc required to slice data frame by labels
legislators.loc['Graham']

last_name                                                        Graham
first_name                                                      Lindsey
middle_name                                                          O.
suffix                                                              NaN
nickname                                                            NaN
full_name                                                Lindsey Graham
birthday                                                     1955-07-09
gender                                                                M
type                                                                sen
state                                                                SC
district                                                            NaN
senate_class                                                          2
party                                                        Republican
url                               https://www.lgraham.senate.gov/public
address               290 Russell Senate Office Building Washington ...
phone                                                      202-224-5972
contact_form          https://www.lgraham.senate.gov/public/index.cf...
rss_url               http://www.lgraham.senate.gov/public/index.cfm...
twitter                                                      GrahamBlog
facebook                                         USSenatorLindseyGraham
youtube                                              USSenLindseyGraham
youtube_id                                     UClLGZMA5Ei2Z8fR1PLEx6yQ
bioguide_id                                                     G000359
thomas_id                                                           452
opensecrets_id                                                N00009975
lis_id                                                             S293
fec_ids                                             S0SC00149,H4SC03087
cspan_id                                                          36782
govtrack_id                                                      300047
votesmart_id                                                      21992
ballotpedia_id                                           Lindsey Graham
washington_post_id                                                  NaN
icpsr_id                                                          29566
wikipedia_id                                             Lindsey Graham
Name: Graham, dtype: object

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [59]:
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
last_name,,,,,,,,,,,,,,,,,,,,,
Brown,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Cantwell,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Cardin,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Carper,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Casey,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [70]:
criteria1 = legislators[legislators['type'] == 'sen']
#criteria1
#criteria['type'].unique()
criteria2 = legislators[legislators['party'] == 'Democrat']
#criteria2
legislators[(legislators['type'] == 'sen') & (legislators['party'] == 'Democrat')].head(15)
#legislators[(legislators['type'] == 'sen') & (legislators['party'] == 'Democrat')].nunique()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
5,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,N00007364,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein
6,Klobuchar,Amy,Jean,NaN,NaN,Amy Klobuchar,1960-05-25,F,sen,MN,...,N00027500,S311,S6MN00267,83701.0,412242,65092.0,Amy Klobuchar,NaN,40700.0,Amy Klobuchar
7,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
9,Stabenow,Debbie,Ann,NaN,NaN,Debbie Stabenow,1950-04-29,F,sen,MI,...,N00004118,S284,"S8MI00281,H6MI08163",45451.0,300093,515.0,Debbie Stabenow,NaN,29732.0,Debbie Stabenow
10,Tester,Jon,NaN,NaN,NaN,Jon Tester,1956-08-21,M,sen,MT,...,N00027605,S314,S6MT00162,1020176.0,412244,20928.0,Jon Tester,NaN,40702.0,Jon Tester
11,Whitehouse,Sheldon,NaN,NaN,NaN,Sheldon Whitehouse,1955-10-20,M,sen,RI,...,N00027533,S316,S6RI00221,92235.0,412247,2572.0,Sheldon Whitehouse,NaN,40704.0,Sheldon Whitehouse
16,Durbin,Richard,J.,NaN,NaN,Richard J. Durbin,1944-11-21,M,sen,IL,...,N00004981,S253,"S6IL00151,H2IL20026",6741.0,300038,26847.0,Dick Durbin,NaN,15021.0,Dick Durbin
20,Merkley,Jeff,NaN,NaN,NaN,Jeff Merkley,1956-10-24,M,sen,OR,...,N00029303,S322,S8OR00207,1029842.0,412325,23644.0,Jeff Merkley,NaN,40908.0,Jeff Merkley
21,Reed,John,F.,NaN,Jack,Jack Reed,1949-11-12,M,sen,RI,...,N00000362,S259,"S6RI00163,H0RI02071",24239.0,300081,27060.0,Jack Reed,NaN,29142.0,Jack Reed (Rhode Island politician)
23,Shaheen,Jeanne,NaN,NaN,NaN,Jeanne Shaheen,1947-01-28,F,sen,NH,...,N00024790,S324,S0NH00219,22850.0,412323,1663.0,Jeanne Shaheen,NaN,40906.0,Jeanne Shaheen

## Exercise 8: Dates
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [77]:
# 'O' = Object
legislators['birthday'].dtype

dtype('O')

In [83]:
birthdays = pd.to_datetime(legislators['birthday'])
birthdays.head()

0   1952-11-09
1   1958-10-13
2   1943-10-05
3   1947-01-23
4   1960-04-13
Name: birthday, dtype: datetime64[ns]

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [85]:
birthdays.dt.year
(pd.Timestamp.now() - birthdays) / 365

0     68 days 08:42:44.212875
1     62 days 10:25:18.733423
2     77 days 11:12:39.281368
3     74 days 03:54:44.212875
4     60 days 22:23:20.377259
5     87 days 18:14:47.500546
6     60 days 19:37:38.459450
7     67 days 05:13:38.459450
8     79 days 12:59:10.514245
9     70 days 21:32:03.116985
10    64 days 13:54:24.486848
11    65 days 10:01:38.459450
12    68 days 16:00:39.281368
13    69 days 17:07:43.390957
14    68 days 06:52:16.267670
15    69 days 03:11:20.377259
16    76 days 08:03:17.089587
17    65 days 16:47:59.829313
18    86 days 08:30:54.075889
19    79 days 02:08:12.979998
20    64 days 09:41:54.897807
21    71 days 08:34:50.788218
22    77 days 21:24:09.692327
23    74 days 03:35:00.651231
24    66 days 06:20:42.569039
25    54 days 06:32:32.706026
26    57 days 12:35:30.240272
27    73 days 13:54:24.486848
28    55 days 15:44:52.432053
29    59 days 02:23:59.829313
                ...
508   60 days 16:47:59.829313
509   57 days 17:55:03.938902
510   64 days 07:04:06.404656
511   25 days 14:37:48.322464
512   57 days 00:09:51.610135
513   61 days 17:15:36.815615
514   36 days 11:00:49.144382
515   40 days 08:07:13.801916
516   33 days 00:01:58.185478
517   44 days 22:54:54.075889
518   33 days 19:41:35.171779
519   47 days 08:15:07.226574
520   69 days 04:34:11.336163
521   43 days 06:40:26.130683
522   61 days 05:09:41.747122
523   53 days 05:53:05.582738
524   42 days 05:05:45.034793
525   53 days 20:56:32.706026
526   52 days 22:39:07.226574
527   40 days 10:13:28.596437
528   50 days 07:59:20.377259
529   40 days 17:27:26.952601
530   69 days 15:17:15.445752
531   55 days 12:23:40.103286
532   58 days 11:32:22.843012
533   57 days 08:07:13.801916
534   47 days 23:38:17.911505
535   34 days 01:40:35.993697
536   51 days 15:36:59.007396
537   60 days 02:51:36.815615
Name: birthday, Length: 538, dtype: timedelta64[ns]

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

Next, find the youngest, oldest and average age of all legislators

Who are the oldest and youngest legislators?

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from your home state using the `loc` accessor.

Use the loc command to find all legislators from South Carolina and North Carolina

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by adding a new column with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary