# Lesson 4 Class Exercises: Pandas Part 2

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
## Get Started
Import the Numpy and Pandas packages

In [1]:
import numpy as np
import pandas as pd

## Exercise 1: Review of Pandas Part 1
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import the data into a variable named `minwages` and print the first 5 lines of data to explore what is there.

In [83]:
minwages = pd.read_csv('https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv')
minwages

,Unnamed: 0,Time,Country,Series,Pay period,value
0,0,2006-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17132.44300
1,1,2007-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18100.91800
2,2,2008-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17747.40600
3,3,2009-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18580.13900
4,4,2010-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18755.83200
5,5,2011-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18284.29900
6,6,2012-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17979.94300
7,7,2013-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17890.01000
8,8,2014-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17854.87500
9,9,2015-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17907.63700
10,10,2016-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18942.76200
11,11,2006-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.23675
12,12,2007-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.70236
13,13,2008-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.53241
14,14,2009-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.93276
15,15,2010-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,9.01723
16,16,2011-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.79053
17,17,2012-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.64420
18,18,2013-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.60097
19,19,2014-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.58407
20,20,2015-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,8.60944
21,21,2016-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Hourly,9.10710
22,22,2006-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,19090.53700
23,23,2007-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,20169.69900
24,24,2008-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,19775.78500
25,25,2009-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,20703.69100
26,26,2010-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,20899.46500
27,27,2011-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,20374.03900
28,28,2012-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,20034.89800
29,29,2013-01-01,Ireland,In 2015 constant prices at 2015 USD exchange r...,Annual,19934.68600
...,...,...,...,...,...,...
1378,1378,2009-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,NaN
1379,1379,2010-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,NaN
1380,1380,2011-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,NaN
1381,1381,2012-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,NaN
1382,1382,2013-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,NaN
1383,1383,2014-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,3.40000
1384,1384,2015-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,3.60000
1385,1385,2016-01-01,Costa Rica,In 2015 constant prices at 2015 USD PPPs,Hourly,3.70000
1386,1386,2006-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1387,1387,2007-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1388,1388,2008-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1389,1389,2009-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1390,1390,2010-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1391,1391,2011-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1392,1392,2012-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1393,1393,2013-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,NaN
1394,1394,2014-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,7047.15190
1395,1395,2015-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,7467.49020
1396,1396,2016-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Annual,7678.33790
1397,1397,2006-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1398,1398,2007-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1399,1399,2008-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1400,1400,2009-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1401,1401,2010-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1402,1402,2011-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1403,1403,2012-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1404,1404,2013-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,NaN
1405,1405,2014-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,2.41000
1406,1406,2015-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,2.56000
1407,1407,2016-01-01,Costa Rica,In 2015 constant prices at 2015 USD exchange r...,Hourly,2.63000

Find the shape of the data.

In [26]:
minwages.shape

(1408, 6)

List the column names.

In [8]:
minwages.columns

Index(['Unnamed: 0', 'Time', 'Country', 'Series', 'Pay period', 'value'], dtype='object')

In [86]:
pd.to_datetime(minwages['Time'])

0      2006-01-01
1      2007-01-01
2      2008-01-01
3      2009-01-01
4      2010-01-01
5      2011-01-01
6      2012-01-01
7      2013-01-01
8      2014-01-01
9      2015-01-01
10     2016-01-01
11     2006-01-01
12     2007-01-01
13     2008-01-01
14     2009-01-01
15     2010-01-01
16     2011-01-01
17     2012-01-01
18     2013-01-01
19     2014-01-01
20     2015-01-01
21     2016-01-01
22     2006-01-01
23     2007-01-01
24     2008-01-01
25     2009-01-01
26     2010-01-01
27     2011-01-01
28     2012-01-01
29     2013-01-01
          ...
1378   2009-01-01
1379   2010-01-01
1380   2011-01-01
1381   2012-01-01
1382   2013-01-01
1383   2014-01-01
1384   2015-01-01
1385   2016-01-01
1386   2006-01-01
1387   2007-01-01
1388   2008-01-01
1389   2009-01-01
1390   2010-01-01
1391   2011-01-01
1392   2012-01-01
1393   2013-01-01
1394   2014-01-01
1395   2015-01-01
1396   2016-01-01
1397   2006-01-01
1398   2007-01-01
1399   2008-01-01
1400   2009-01-01
1401   2010-01-01
1402   2011-01-01
1403   2012-01-01
1404   2013-01-01
1405   2014-01-01
1406   2015-01-01
1407   2016-01-01
Name: Time, Length: 1408, dtype: datetime64[ns]

Identify the data types. Do they match what you would expect?

In [9]:
minwages.dtypes
# object = string

Unnamed: 0      int64
Time           object
Country        object
Series         object
Pay period     object
value         float64
dtype: object

Identify columns with missing values.

In [10]:
minwages.isna().sum()

Unnamed: 0     0
Time           0
Country        0
Series         0
Pay period     0
value         68
dtype: int64

Identify if there are duplicated entires.

In [12]:
minwages.duplicated().sum()

0

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

In [13]:
minwages.nunique()

Unnamed: 0    1408
Time            11
Country         32
Series           2
Pay period       2
value         1289
dtype: int64

### Task 2: Explore More

Retrieve descriptive statistics for the data.

In [15]:
minwages.describe()

        Unnamed: 0         value
count  1408.000000   1340.000000
mean    703.500000   5697.843084
std     406.598901   7475.920784
min       0.000000      0.234000
25%     351.750000      4.388742
50%     703.500000    290.606495
75%    1055.250000  10501.730500
max    1407.000000  25713.797000

Identify all of the countries listed in the data.

In [16]:
minwages['Country'].unique()

array(['Ireland', 'Spain', 'Australia', 'Turkey', 'Luxembourg',
       'New Zealand', 'United Kingdom', 'Mexico', 'Greece',
       'Slovak Republic', 'Portugal', 'France', 'United States', 'Japan',
       'Netherlands', 'Estonia', 'Hungary', 'Poland', 'Czech Republic',
       'Canada', 'Korea', 'Slovenia', 'Chile', 'Israel', 'Belgium',
       'Germany', 'Brazil', 'Russian Federation', 'Lithuania', 'Latvia',
       'Colombia', 'Costa Rica'], dtype=object)

Convert the time column to a datetime object.

In [87]:
minwages['Time'] = pd.to_datetime(minwages['Time'])
minwages.dtypes

Unnamed: 0             int64
Time          datetime64[ns]
Country               object
Series                object
Pay period            object
value                float64
dtype: object

List the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

In [88]:
minwages['Time'].unique()

array(['2006-01-01T00:00:00.000000000', '2007-01-01T00:00:00.000000000',
       '2008-01-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2012-01-01T00:00:00.000000000', '2013-01-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

Because we only have one data point collected per year per country, simplify this by adding a new column with just the year.  Print the first 5 rows to confirm the column was added.

In [35]:
minwages['Year'] = minwages['Time'].dt.year
minwages.head()

,Unnamed: 0,Time,Country,Series,Pay period,value,Year
0,0,2006-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17132.443,2006.0
1,1,2007-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18100.918,2007.0
2,2,2008-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17747.406,2008.0
3,3,2009-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18580.139,2009.0
4,4,2010-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18755.832,2010.0

In [36]:
minwages['Year'].unique()

array([2006., 2007., 2008., 2009., 2010.,   nan])

There are two pay periods.  Retrieve them in a list of just the two strings

In [38]:
minwages['Pay period'].unique()

array(['Annual', 'Hourly'], dtype=object)

In [39]:
minwages['Series'].unique()

array(['In 2015 constant prices at 2015 USD PPPs',
       'In 2015 constant prices at 2015 USD exchange rates'], dtype=object)

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

In [43]:
# inplace option needed to overwrite current data frame
minwages.dropna(inplace = True)
minwages.shape

,Unnamed: 0,Time,Country,Series,Pay period,value,Year
0,0,2006-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17132.443,2006.0
1,1,2007-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18100.918,2007.0
2,2,2008-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17747.406,2008.0
3,3,2009-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18580.139,2009.0
4,4,2010-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18755.832,2010.0

Remove the "Unnamed: 0" column as it's not needed.

In [46]:
minwages.drop(['Unnamed: 0'], axis = 1, inplace = True)
minwages.head()

,Time,Country,Series,Pay period,value,Year
0,2006-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17132.443,2006.0
1,2007-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18100.918,2007.0
2,2008-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,17747.406,2008.0
3,2009-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18580.139,2009.0
4,2010-01-01,Ireland,In 2015 constant prices at 2015 USD PPPs,Annual,18755.832,2010.0

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

In [50]:
# Exclude PPP rows
minwages2 = minwages[minwages['Series'] == 'In 2015 constant prices at 2015 USD exchange rates']
minwages['Series'].unique()

array(['In 2015 constant prices at 2015 USD PPPs'], dtype=object)

In [51]:
# Need () to separate 2 requirements because of order of operations
minwages2[(minwages2['Pay period'] == 'Annual') & 
          (minwages2['Country'] == 'Pay period')]

Empty DataFrame
Columns: [Time, Country, Series, Pay period, value, Year]
Index: []

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use `loc` to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.  Hint: you should reset the index before using `loc`

Now do the same for Annual salary

## Exercise 2: Occurances
First, reset the indexes back to numeric values. Print the first 10 lines to confirm.

Get the count of how many rows there are per year?

## Exercise 3: Grouping
### Task 1: Aggregation
Calculate the average salary for each country across all years.

In [61]:
groups = minwages2.groupby(['Country', 'Pay period'])
country.mean()

Empty DataFrame
Columns: [value, Year]
Index: []

In [62]:
# Another way
minwages2.groupby(['Country']).mean()

Empty DataFrame
Columns: [value, Year]
Index: []

Calculate the average salary and hourly wage for each country across all years. Save the resulting dataframe containing the means into a new variable named `mwmean`.

<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

Above we saw how to aggregate using built-in functions of the `DataFrameGroupBy` object. For eaxmple we called the `mean` function directly. These handly functions help with writing succint code. However, you can also use the `aggregate` function to do more! You can learn more on the [aggregate description page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html)

With `aggregate` we can perform operations across rows and columns, and we can perform more than one operation at a time.  Explore the online documentation for the function and see how you would calculate the mean, min, and max for each country and pay period type, as well as the total number of records per country and pay period:

In [60]:
groups.aggregate(['mean', 'std', 'count'])

Empty DataFrame
Columns: [(value, mean), (value, std), (value, count), (Year, mean), (Year, std), (Year, count)]
Index: []

Also you can use the aggregate on a single column of the grouped object. For example:

```python
    mwgroup = minwages[['Country', 'Pay period', 'value']].groupby(['Country', 'Pay period'])
    mwgroup['value'].aggregate(['mean'])

```
Redo the aggregate function in the previous cell but this time apply it to a single column.

### Task 2: Slicing/Indexing
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

In the following code the resulting dataframe should contain only one data column: the mean values. It does, however, have two levels of indexes: Country and Pay period.  For example:

```python
mwgroup = minwages[['Country', 'Pay period', 'value']].groupby(['Country', 'Pay period'])
mwmean = mwgroup.mean()
mwmean
```

Try it out:

In [64]:
mwgroup = minwages2[['Country', 'Pay period', 'value']].groupby(['Country', 'Pay period'])
mwmean = mwgroup.mean()
mwmean

Empty DataFrame
Columns: [value]
Index: []

Notice in the output above there are two levels of indexes. This is called MultiIndexing.  In reality, there is only one data column and two index levels.  So, you can do this:

```python
mwmean['value']
```

But you can't do this:

```python
mwmean['Pay period']
```

Why not? Try it:

In [65]:
mwmean['value']

Series([], Name: value, dtype: float64)

In [66]:
mwmean['Pay period']
# This is because 'Pay period' is describing the row index, it isn't actually a column in the data frame

KeyError: 'Pay period'

The reason we cannot exeucte `mwmean['Pay period']` is because `Pay period` is not a data column. It's an index.  Let's learn how to use MultiIndexes to retrieve data. You can learn more about it on the [MultiIndex/advanced indexing page](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#advanced-indexing-with-hierarchical-index)

First, let's take a look at the indexes using the `index` attribute. 

```python
mwmean.index
```

Try it:

In [67]:
mwmean.index

MultiIndex(levels=[[], []],
           labels=[[], []],
           names=['Country', 'Pay period'])

Notice that each index is actually a tuple with two levels. The first is the country names and the second is the pay period. Remember, we can use the `loc` function, to slice a dataframe using indexes.  We can do so with a MultiIndexed dataframe as well. For example, to extract all elements with they index named 'Australia':

```python
mwmean.loc[('Australia')]
```

Try it yourself:

In [70]:
mwmean.loc[('Australia')]

KeyError: 'the label [Australia] is not in the [index]'

You can specify both indexes to pull out a single row. For example, to find the average hourly salary in Australia:

```python
mwmean.loc[('Australia','Hourly')]
```
Try it yourself:

In [68]:
# .loc gives us acess to our row indices
mwmean.loc[('Australia','Hourly')]

KeyError: 'the label [Australia] is not in the [index]'

Suppose you wanted to retrieve all of the mean "Hourly" wages. For MultiIndexes, there are multiple ways to slice it, some are not entirely intuitive or flexible enough.  Perhaps the easiest is to use the `pd.IndexSlice` object.  It allows you to specify an index format that is intuitive to the way you've already learned to slice.  For example:

```python
idx = pd.IndexSlice
mwmean.loc[idx[:,'Hourly'],:]
```

In the code above the `idx[:, 'Hourly']` portion is used in the "row" indexor position of the `loc` function. It indicates that we want all possible first-level indexes (specified with the `:`) and we want second-level indexes to be restricted to "Hourly".  
Try it out yourself:

In [69]:
idx = pd.IndexSlice
# First : refers to all rows under the 'Hourly' label
# Second : refers to all columns
mwmean.loc[idx[:,'Hourly'],:]

KeyError: 'Hourly'

Using what you've learned above about slicing the MultiIndexed dataframe, find out which country has had the highest average annual salary.

You can move the indexes into the dataframe and reset the index to a traditional single-level numeric index by reseting the indexes:    
```python
mwmean.reset_index()
```

Try it yourself:

In [74]:
# Takes away indexing and puts them as columns in the data
mwmean2 = mwmean.reset_index()
mwmean2[mwmean2['Pay period' == 'Hourly']]

KeyError: False

### Task 3: Filtering the original data.
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

Another way we might want to filter is to find records in the dataset that, after grouping meets some criteria. For example, what if we wanted to find the records for all countries with the average annual salary was greater than $35K?

To do this, we can use the `filter` function of the `DataFrameGroupBy` object. The filter function must take a function as an argument (this is new and may seem weird).  

```python
annualwages = minwages[minwages['Pay period'] == 'Annual']
annualwages.groupby(['Country']).filter(
    lambda x : x['value'].mean() > 22000
)
```
Try it:

Lambda is called an "anonymous function" in python.

[Lambda documentation](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)

In [77]:
annualwages = minwages[minwages['Pay period'] == 'Annual']
filtered = annualwages.groupby(['Country']).filter(
    lambda x : x['value'].mean() > 22000
)
filtered.groupby('Country').mean()

            Unnamed: 0         value
Country
Australia          104  22950.927364
Luxembourg         192  23680.787909

### Task 4: Reset the index
If you do not want to use MultiIndexes and you prefer to return any Multiindex dataset back to a traditional 1-level index dataframe you can use the`reset_index` function. 

Try it out on the `mwmean` dataframe:

## Exercise 4:  Task 6d from the practice notebook
Load the iris dataset. 

In the Iris dataset:
+ Create a new column with the label "region" in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'. Use these randomly.
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add a `dev_stage` column by randomly selecting from the values "early" and "late".
+ Use `groupby` to get a new data frame of means for each species, in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.

## Exercise 5: Kaggle Titanic Dataset
A dataset of Titanic passengers and their fates is provided by the online machine learning competition server [Kaggle](https://www.kaggle.com/). See the [Titanic project](https://www.kaggle.com/c/titanic) page for more details. 

Let's practice all we have learned thus far to explore and perhaps clean this dataset.  You have been provided with the dataset named `Titanic_train.csv`.  

### Task 1: Explore the data
First import the data and print the first 10 lines.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Clean the data
Do missing values need to be removed? If so, remove them.

Do duplicates need to be removed?  If so remove them.

### Task 3: Find Interesting Facts
Count the number of passengers that survied and died in each passenger class

Were men or women more likely to survive?

What was the average, min and max ticket prices per passenger class?
Hint:  look at the help page for the [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) function to help simplify this.

Give descriptive statistics about the survival age.